@import 'tailwindcss';
@source '../views';
@custom-variant dark (&:where(.dark, .dark *));
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    color:white;
}
body{
    background-color:#334756;
}
header{
    background-color: #6795b69a;
}
.nav-link{

}
